.App {
  text-align: center;
  display: grid;
  grid-template-columns: 70px 7fr;
  grid-template-rows: 80px 7fr;
  height: 100vh;
  color: rgb(65, 82, 107);
  font-family:'Times New Roman', Times, serif;
  font-size: large;
}

.borderdiv {
  border-bottom: 1px solid rgb(192, 192, 192);
  border-radius: 10px;
  border-style: ridge;
}