.MainWindow {
    text-align: center;
    display: grid;
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;  
  }

  .MainLeft {
    background-color: rgb(245, 249, 255);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
  
  }

  .MainRight {
    background-color: rgb(245, 249, 255);
    border-left: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    border-style: ridge;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 8;
  
  }