.Home h3, p {
    text-align: left;
}

.Home .homecontent {
    width: 50%;
    padding-left: 10px;
}

.Home .SkillsList {
    width: 100px;
}

.Home li {
    list-style-type: none;
    text-align: left;
}

.Home {
    margin: 10px;
    background-color: white;
}